In [2]:
# Write a program to Counts the number of occurrences of item 50 from a tuple.
def count_occurrences(tuple, item):
    count = 0
    for element in tuple:
        if element == item:
            count += 1
    return count

# Example tuple
example_tuple = (10, 20, 30, 40, 50, 50, 50, 60, 70)

# Count occurrences of item 50
occurrences = count_occurrences(example_tuple, 50)
print("Number of occurrences of item 50:", occurrences)
print("Ritesh Telkar")
print("0827CI211158")

Number of occurrences of item 50: 3
Ritesh Telkar
0827CI211158

In [1]:
# Write a program to Check if all items in the tuple are the same
def all_same(tuple):
    # Check if all elements are the same
    return all(element == tuple[0] for element in tuple)

# Example tuples
tuple1 = (10, 10, 10, 10)
tuple2 = (10, 20, 10, 10)

# Check if all items in tuple1 are the same
if all_same(tuple1):
    print("All items in tuple1 are the same")
else:
    print("Not all items in tuple1 are the same")

# Check if all items in tuple2 are the same
if all_same(tuple2):
    print("All items in tuple2 are the same")
else:
    print("Not all items in tuple2 are the same")
print("Ritesh Telkar")
print("0827CI211158")

All items in tuple1 are the same
Not all items in tuple2 are the same
Ritesh Telkar
0827CI211158

In [3]:
# Write a Program to create a tuple which is having integer,float,list and tuple as its elements and print an element present in list of these tuple
# Define the tuple with different types of elements
mixed_tuple = (10, 3.14, [1, 2, 3], ('a', 'b', 'c'))

# Function to print an element from a list within the tuple
def print_list_element(tuple):
    # Get the list from the tuple
    list_element = tuple[2]
    # Print an element from the list
    print("Element from the list within the tuple:", list_element[1])

# Call the function to print an element from the list within the tuple
print_list_element(mixed_tuple)
print("Ritesh Telkar")
print("0827CI211158")

Element from the list within the tuple: 2
Ritesh Telkar
0827CI211158

In [4]:
#Write a program to create a tuple with the name of 10 cities of India Check whether a City is present in the tuple or not
def city_present(city, cities_tuple):
    # Check if the city is present in the tuple
    return city in cities_tuple

# Create a tuple with the names of 10 cities of India
indian_cities = ('Delhi', 'Mumbai', 'Bangalore', 'Kolkata', 'Chennai', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow')

# Input city to check
city_to_check = input("Enter the name of the city to check: ")

# Check if the city is present in the tuple
if city_present(city_to_check, indian_cities):
    print(city_to_check, "is present in the tuple of Indian cities.")
else:
    print(city_to_check, "is not present in the tuple of Indian cities.")
print("Ritesh Telkar")
print("0827CI211158")

Enter the name of the city to check: Kolkata
Kolkata is present in the tuple of Indian cities.
Ritesh Telkar
0827CI211158

In [5]:
# Write a program to get the number of occurrence of a word in tuple.
def count_word_occurrences(word, tuple_of_strings):
    count = 0
    for string in tuple_of_strings:
        # Split the string into words and count occurrences of the target word
        count += string.count(word)
    return count

# Example tuple of strings
tuple_of_strings = ("apple banana", "banana orange", "banana apple", "orange mango banana")

# Word to count occurrences of
word_to_count = input("Enter the word to count occurrences: ")

# Count occurrences of the word in the tuple
occurrences = count_word_occurrences(word_to_count, tuple_of_strings)
print("Number of occurrences of", word_to_count, "in the tuple:", occurrences)
print("Ritesh Telkar")
print("0827CI211158")

Enter the word to count occurrences: apple
Number of occurrences of apple in the tuple: 2
Ritesh Telkar
0827CI211158

In [6]:
# Write a program to get the index of a word in tuple
def get_word_index(word, tuple_of_strings):
    indexes = []
    for i, string in enumerate(tuple_of_strings):
        # Split the string into words and check if the word is present
        if word in string:
            indexes.append(i)
    return indexes

# Example tuple of strings
tuple_of_strings = ("apple banana", "banana orange", "banana apple", "orange mango banana")

# Word to get the index of
word_to_find = input("Enter the word to find its index: ")

# Get the index of the word in the tuple
word_indexes = get_word_index(word_to_find, tuple_of_strings)

if word_indexes:
    print("Indexes of", word_to_find, "in the tuple:", word_indexes)
else:
    print(word_to_find, "not found in the tuple.")
print("Ritesh Telkar")
print("0827CI211158")

Enter the word to find its index: the
the not found in the tuple.
Ritesh Telkar
0827CI211158

In [7]:
# Write a program to create four tuples viz roll no. name. CGPA and SGPA of students. Print individual student's details using these 4 tuples.
# Function to print individual student's details
def print_student_details(roll_no, name, cgpa, sgpa):
    print("Roll No:", roll_no)
    print("Name:", name)
    print("CGPA:", cgpa)
    print("SGPA:", sgpa)
    print()

# Create tuples for student details
roll_numbers = (101, 102, 103, 104)
names = ("John Doe", "Jane Smith", "Alice Johnson", "Bob Brown")
cgpa = (3.8, 3.9, 3.7, 4.0)
sgpa = (4.0, 3.9, 3.8, 4.0)

# Print individual student's details
for i in range(len(roll_numbers)):
    print("Student", i+1, "details:")
    print_student_details(roll_numbers[i], names[i], cgpa[i], sgpa[i])
print("Ritesh Telkar")
print("0827CI211158")

Student 1 details:
Roll No: 101
Name: John Doe
CGPA: 3.8
SGPA: 4.0

Student 2 details:
Roll No: 102
Name: Jane Smith
CGPA: 3.9
SGPA: 3.9

Student 3 details:
Roll No: 103
Name: Alice Johnson
CGPA: 3.7
SGPA: 3.8

Student 4 details:
Roll No: 104
Name: Bob Brown
CGPA: 4.0
SGPA: 4.0

Ritesh Telkar
0827CI211158

In [8]:
# write a Python program to create a set.
# Create a set
my_set = {1, 2, 3, 4, 5}

# Print the set
print("Set:", my_set)
print("Ritesh Telkar")
print("0827CI211158")

Set: {1, 2, 3, 4, 5}
Ritesh Telkar
0827CI211158

In [9]:
# Write a Python program to iterate over sets.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Iterate over the set and print each element
print("Elements of the set:")
for element in my_set:
    print(element)
print("Ritesh Telkar")
print("0827CI211158")

Elements of the set:
1
2
3
4
5
Ritesh Telkar
0827CI211158

In [10]:
# Write a Python program to add member(s) to a set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Print the initial set
print("Initial set:", my_set)

# Add a single member to the set
my_set.add(6)
print("Set after adding a single member:", my_set)

# Add multiple members to the set using update() method
my_set.update([7, 8, 9])
print("Set after adding multiple members:", my_set)
print("Ritesh Telkar")
print("0827CI211158")

Initial set: {1, 2, 3, 4, 5}
Set after adding a single member: {1, 2, 3, 4, 5, 6}
Set after adding multiple members: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Ritesh Telkar
0827CI211158

In [11]:
# Write a Python program to remove Item(s) from a given set.
# Define a set
my_set = {1, 2, 3, 4, 5}

# Print the initial set
print("Initial set:", my_set)

# Remove a single item from the set using discard() method
my_set.discard(3)
print("Set after removing a single item:", my_set)

# Remove multiple items from the set using discard() method
items_to_remove = {1, 4}
my_set.difference_update(items_to_remove)
print("Set after removing multiple items:", my_set)
print("Ritesh Telkar")
print("0827CI211158")

Initial set: {1, 2, 3, 4, 5}
Set after removing a single item: {1, 2, 4, 5}
Set after removing multiple items: {2, 5}
Ritesh Telkar
0827CI211158

In [12]:
# Write a Python program to remove an item from a set if it is
def remove_item(set_name, item):
    if item in set_name:
        set_name.remove(item)
        print(f"Item '{item}' removed from the set")
    else:
        print(f"Item '{item}' is not present in the set")

# Define a set
my_set = {1, 2, 3, 4, 5}

# Print the initial set
print("Initial set:", my_set)

# Remove an item from the set
item_to_remove = int(input("Enter the item to remove: "))
remove_item(my_set, item_to_remove)

# Print the set after removal
print("Set after removal:", my_set)
print("Ritesh Telkar")
print("0827CI211158")

Initial set: {1, 2, 3, 4, 5}
Enter the item to remove: 3
Item '3' removed from the set
Set after removal: {1, 2, 4, 5}
Ritesh Telkar
0827CI211158

In [13]:
# Write a Python program to create an intersection of sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the intersection of the sets using the intersection() method
intersection_set = set1.intersection(set2)

# Print the intersection set
print("Intersection of set1 and set2:", intersection_set)
print("Ritesh Telkar")
print("0827CI211158")

Intersection of set1 and set2: {4, 5}
Ritesh Telkar
0827CI211158

In [14]:
# Write a Python program to create a union of sets.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the sets using the union() method
union_set = set1.union(set2)

# Print the union set
print("Union of set1 and set2:", union_set)
print("Ritesh Telkar")
print("0827CI211158")

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Ritesh Telkar
0827CI211158

In [15]:
# Write a Python program to create set difference
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the set difference using the difference() method
difference_set = set1.difference(set2)

# Print the set difference
print("Set difference (set1 - set2):", difference_set)
print("Ritesh Telkar")
print("0827CI211158")

Set difference (set1 - set2): {1, 2, 3}
Ritesh Telkar
0827CI211158

In [16]:
# Write a Python program to create a symmetric difference.
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference using the symmetric_difference() method
symmetric_difference_set = set1.symmetric_difference(set2)

# Print the symmetric difference
print("Symmetric difference of set1 and set2:", symmetric_difference_set)
print("Ritesh Telkar")
print("0827CI211158")

Symmetric difference of set1 and set2: {1, 2, 3, 6, 7, 8}
Ritesh Telkar
0827CI211158

In [17]:
# write a Python program to check if a set is a subset of another set.
def is_subset(set1, set2):
    # Check if set1 is a subset of set2
    return set1.issubset(set2)

# Example usage:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

if is_subset(set1, set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")
print("Ritesh Telkar")
print("0827CI211158")

set1 is a subset of set2
Ritesh Telkar
0827CI211158

In [18]:
# Write a Python program to remove all elements from a given set
def remove_all_elements(some_set):
    some_set.clear()  # Clears all elements from the set

# Example usage:
my_set = {1, 2, 3, 4, 5}
print("Before removing elements:", my_set)

remove_all_elements(my_set)
print("After removing elements:", my_set)
print("Ritesh Telkar")
print("0827CI211158")

Before removing elements: {1, 2, 3, 4, 5}
After removing elements: set()
Ritesh Telkar
0827CI211158

In [19]:
# Write a Python program to find the maximum and minimum values in a set
def find_max_min(some_set):
    if len(some_set) == 0:
        print("The set is empty.")
    else:
        max_value = max(some_set)
        min_value = min(some_set)
        return max_value, min_value

# Example usage:
my_set = {5, 3, 9, 2, 8, 1}

result = find_max_min(my_set)
if result:
    max_val, min_val = result
    print("Maximum value:", max_val)
    print("Minimum value:", min_val)
print("Ritesh Telkar")
print("0827CI211158")

Maximum value: 9
Minimum value: 1
Ritesh Telkar
0827CI211158

In [20]:
# write a Python program to find length of a set
def find_set_length(some_set):
    return len(some_set)

# Example usage:
my_set = {1, 2, 3, 4, 5}
set_length = find_set_length(my_set)
print("Length of the set:", set_length)
print("Ritesh Telkar")
print("0827CI211158")

Length of the set: 5
Ritesh Telkar
0827CI211158

In [21]:
# Write a Python program to check if a given value is present in a set or not.
def check_value_in_set(some_set, value):
    return value in some_set

# Example usage:
my_set = {1, 2, 3, 4, 5}
value_to_check = 3

if check_value_in_set(my_set, value_to_check):
    print("The value", value_to_check, "is present in the set.")
else:
    print("The value", value_to_check, "is not present in the set.")
print("Ritesh Telkar")
print("0827CI211158")

The value 3 is present in the set.
Ritesh Telkar
0827CI211158

In [22]:
# Write a Python program to check if two given sets have no elements in common.
def no_common_elements(set1, set2):
    return set1.isdisjoint(set2)

# Example usage:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if no_common_elements(set1, set2):
    print("The sets have no common elements.")
else:
    print("The sets have common elements.")

The sets have no common elements.

In [24]:
# Write a Python program to create a Dictionary of student information. take roll no as key
def create_student_dictionary():
    num_students = int(input("Enter the number of students: "))
    student_dict = {}

    for _ in range(num_students):
        roll_no = input("Enter roll number: ")
        name = input("Enter name: ")
        age = int(input("Enter age: "))
        grade = input("Enter grade: ")
        student_dict[roll_no] = {"Name": name, "Age": age, "Grade": grade}

    return student_dict

def main():
    student_info = create_student_dictionary()
    print("\nStudent Information:")
    for roll_no, info in student_info.items():
        print("for student ")
        print(f"Roll No: {roll_no}")
        print(f"Name: {info['Name']}")
        print(f"Age: {info['Age']}")
        print(f"Grade: {info['Grade']}")
        print()

if __name__ == "__main__":
    main()
print("Ritesh Telkar")
print("0827CI211158")

Enter the number of students: 3
Enter roll number: 101
Enter name: abhay
Enter age: 23
Enter grade: A
Enter roll number: 102
Enter name: akaay
Enter age: 22
Enter grade: C
Enter roll number: 103
Enter name: asif
Enter age: 21
Enter grade: B

Student Information:
Roll No: 101
Name: abhay
Age: 23
Grade: A

Roll No: 102
Name: akaay
Age: 22
Grade: C

Roll No: 103
Name: asif
Age: 21
Grade: B

Ritesh Telkar
0827CI211158

In [25]:
# Write a Python progarm to delete a key from the dictionary
def delete_key_from_dict(student_dict, roll_no):
    if roll_no in student_dict:
        del student_dict[roll_no]
        print(f"Key '{roll_no}' deleted successfully.")
    else:
        print(f"Key '{roll_no}' not found in the dictionary.")

def main():
    # Example student dictionary
    student_dict = {
        "001": {"Name": "Alice", "Age": 18, "Grade": "A"},
        "002": {"Name": "Bob", "Age": 19, "Grade": "B"},
        "003": {"Name": "Charlie", "Age": 20, "Grade": "C"}
    }

    print("Original Dictionary:")
    print(student_dict)

    roll_no_to_delete = input("\nEnter the roll number to delete: ")
    delete_key_from_dict(student_dict, roll_no_to_delete)

    print("\nUpdated Dictionary:")
    print(student_dict)

if __name__ == "__main__":
    main()
print("Ritesh Telkar")
print("0827CI211158")

Original Dictionary:
{'001': {'Name': 'Alice', 'Age': 18, 'Grade': 'A'}, '002': {'Name': 'Bob', 'Age': 19, 'Grade': 'B'}, '003': {'Name': 'Charlie', 'Age': 20, 'Grade': 'C'}}

Enter the roll number to delete: 003
Key '003' deleted successfully.

Updated Dictionary:
{'001': {'Name': 'Alice', 'Age': 18, 'Grade': 'A'}, '002': {'Name': 'Bob', 'Age': 19, 'Grade': 'B'}}
Ritesh Telkar
0827CI211158